<nav id="navbar" class="navbar navbar-full navbar-static-top navbar-dark bg-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<a class="navbar-brand" href>Anvel</a>-->
                <a class="navbar-brand" [routerLink]="['Home']">Anvel</a>

                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <!--<a class="nav-link" href>About</a>-->
                        <a class="nav-link" [routerLink]="['About']">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
