<div class="Page">
    <a href="https://github.com/jaesung2061/anvel" id="git-fork-link">
        <img src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>

    <div class="jumbotron jumbotron-fluid section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center">
                    <h1 class="display-4">Angular 2 - Lumen</h1>

                    <h2>Integrated</h2>

                    <hr class="jumbotron-hr">

                    <p class="lead">Starter kit to kick start development with no hassle.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-2 bg-faded">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h2>Angular 2</h2>

                    <p>
                        Angular 2 is a huge upgrade over the amazing AngularJS framework. Using
                        Typescript, use the awesome decorator feature with strong typing to catch
                        bugs early. Get started now with the future of front-end development.
                    </p>

                    <p><a class="btn btn-secondary" href="https://angular.io" role="button">Official Docs »</a></p>
                </div>

                <div class="col-md-4 col-xs-12">
                    <h2>Lumen</h2>

                    <p>
                        The Lumen framework is the perfect fit to integrate with Angular.
                        Get the best of what Laravel has to offer with blazing fast performance.
                        Anvel comes pre-packed with Dingo API and JWT Auth.
                    </p>

                    <p><a class="btn btn-secondary" href="https://lumen.laravel.com" role="button">Official Docs »</a>
                    </p>
                </div>

                <div class="col-md-4 col-xs-12">
                    <h2>Webpack</h2>

                    <p>
                        Webpack is perhaps the most powerful build process on the market today. Though
                        it might be a bit complicated to set up. No worries, though. It's all set
                        up for you and ready to go. Get started developing hassle free!
                    </p>

                    <p><a class="btn btn-secondary" href="https://webpack.github.io/docs/" role="button">Official Docs »</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Installation</h2>

                    <div [innerHtml]="installationDocs"></div>
                </div>
            </div>
        </div>
    </div>
</div>