<form (ngSubmit)="login(credentials)" #heroForm="ngForm" novalidate>
    <ngb-alert type="danger" [dismissible]="false" *ngIf="error">
        <span>The email/password you provided does not match our records.</span>
    </ngb-alert>

    <label class="form-group">
        Email
        <input class="form-control" type="email" [(ngModel)]="credentials.email"
               ngControl="email" name="email" #name="ngModel" required>
    </label>

    <label class="form-group">
        Password
        <input class="form-control" type="password" [(ngModel)]="credentials.password"
               ngControl="password" name="password" #name="ngModel" required>
    </label>

    <div class="text-xs-right">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
</form>
