/* Global styles goes here. */

$footerHeight: 100px;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Begin document layout */
#wrapper {
    min-height: 100%;
    position: relative;
}

#navbar {
    margin-bottom: 1rem;
}

.Page {
    padding-bottom: $footerHeight;
}

#footer {
    background-color: #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    line-height: $footerHeight;
    p:last-child {
        margin-bottom: 0;
    }
}
/* End document layout */

/* Begin NgForm styles*/
label.form-group {
    display: block;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid {
    border-left: 5px solid #a94442;
}
/* End NgForm styles*/

/* Begin Bootstrap styles */
pre {
    padding: 1rem 2rem;
    background-color: #eee;
}
/* End Bootstrap styles */

.site-loader-cover {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: #555;
}
