<div class="Page">
    <div class="jumbotron jumbotron-fluid section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Hello, world!</h1>

                    <p class="lead">How will the caffeine oppress the purchase?</p>

                    <hr class="m-y-2" style="border-color: #fff;">

                    <p>
                        An injured scenario cables a timed reflex.
                        The garage overcomes the altered journal across the minister.
                        An or hammer flutes the unavoidable appraisal.
                    </p>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form (ngSubmit)="login()" #loginForm="ngForm">
                        <label class="form-group">
                            Email
                            <input class="form-control" type="email" required [(ngModel)]="credentials.email">
                        </label>
                        <label class="form-group">
                            password
                            <input class="form-control" type="password" required [(ngModel)]="credentials.password">
                        </label>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Across the textbook weds the latest waffle.
                        Beneath an anguish groans another hit node.
                        Why can't an exploding mole nail the cheer?
                        Opposite the clock coasts the disabled symptom.
                        A weapon forks the landscape.
                        The waffle divides a formed frog over a refund.
                    </p>

                    <pre><code>This text is meant to be treated as sample output from a computer program.
This text is meant to be treated as sample output from a computer program.</code></pre>

                    <p>
                        Across the textbook weds the latest waffle.
                        Beneath an anguish groans another hit node.
                        Why can't an exploding mole nail the cheer?
                        Opposite the clock coasts the disabled symptom.
                        A weapon forks the landscape.
                        The waffle divides a formed frog over a refund.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
