<div class="Page">
    <div class="jumbotron jumbotron-fluid section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Hello, world!</h1>

                    <p class="lead">How will the caffeine oppress the purchase?</p>

                    <hr class="m-y-2" style="border-color: #fff;">

                    <p>
                        An injured scenario cables a timed reflex.
                        The garage overcomes the altered journal across the minister.
                        An or hammer flutes the unavoidable appraisal.
                    </p>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h3>Snakes</h3>

                    <p>
                        A catalog chops a static reign. A departmental pipeline fights the short salt.
                        A stamped load prevails around a ceremony. Its subway alternates the confused carrot.
                        How can the soup retract?
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3>Water</h3>

                    <p>
                        A buss commands the crisis throughout the demented weather.
                        After a trend punts the civilized mole. Around the thirty coke tries the dishonest beer.
                        Our spare general cruises below each drift. Her postscript wards the jest.
                        Every worn rear stops against the review mixture.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3>Hard drive</h3>

                    <p>
                        Across the textbook weds the latest waffle.
                        Beneath an anguish groans another hit node.
                        Why can't an exploding mole nail the cheer?
                        Opposite the clock coasts the disabled symptom.
                        A weapon forks the landscape.
                        The waffle divides a formed frog over a refund.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Across the textbook weds the latest waffle.
                        Beneath an anguish groans another hit node.
                        Why can't an exploding mole nail the cheer?
                        Opposite the clock coasts the disabled symptom.
                        A weapon forks the landscape.
                        The waffle divides a formed frog over a refund.
                    </p>

                    <pre><code>This text is meant to be treated as sample output from a computer program.
This text is meant to be treated as sample output from a computer program.</code></pre>

                    <p>
                        Across the textbook weds the latest waffle.
                        Beneath an anguish groans another hit node.
                        Why can't an exploding mole nail the cheer?
                        Opposite the clock coasts the disabled symptom.
                        A weapon forks the landscape.
                        The waffle divides a formed frog over a refund.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
